---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import LightBox from "@/components/images/LightBox";
const pageTitle = "Home";

// take images from api
type LichenImage = {
  id: string;
  thumbnail: string;
  image: string;
  author: string;
  owner: string;
};

const images: Array<LichenImage> = await fetch("https://italic.units.it/api/v1/images/822")
  .then((res) => res.json())
  .then((data) => data.data);

//console.log(images);
---

<BaseLayout pageTitle={pageTitle}>
  <p class="my-4">Welcome to the home page!</p>
  <hr class="bg-black my-2" />

  <div class="mx-auto flex gap-2 p-2 m-2 flex-wrap justify-left max-w-[1200px]">
    <LightBox images={images} client:load />
  </div>
</BaseLayout>
